[project]
	description = An MVC framework for WordPress
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Van Lauren Laffressia (3na)
[access "refs/for/refs/*"]
	read = group user/Van Lauren Laffressia (3na)
	push = group user/Van Lauren Laffressia (3na)
	label-Code-Review = -2..+2 group user/Van Lauren Laffressia (3na)
	label-Verified = -1..+1 group user/Van Lauren Laffressia (3na)
	rebase = group user/Van Lauren Laffressia (3na)
	removeReviewer = group user/Van Lauren Laffressia (3na)
	submit = group user/Van Lauren Laffressia (3na)
[access "refs/heads/*"]
	read = group user/Van Lauren Laffressia (3na)
	create = group user/Van Lauren Laffressia (3na)
	push = +force group user/Van Lauren Laffressia (3na)
	pushMerge = group user/Van Lauren Laffressia (3na)
[access "refs/tags/*"]
	push = +force group user/Van Lauren Laffressia (3na)
	pushTag = group user/Van Lauren Laffressia (3na)
	pushSignedTag = group user/Van Lauren Laffressia (3na)
